[package]
name = "tsp-toolkit-kic-lib"
description = "A library specifically enabling communication to the Keithley product-line of instruments"
version = "0.13.2"
authors = ["Keithley Instruments, LLC"]
edition = "2021"
repository = "https://github.com/TEK-Engineering/tsp-toolkit-kic-lib"

[dependencies]
bytes = "1"
phf = { version = "0.11", features = ["macros"] }
rpassword = "7"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"
tmc = { git = "https://github.com/esarver/rusb-usbtmc" }
tracing = { version = "0.1", features = ["async-await"] }
rusb = "0.9"
chrono = "0.4"
minidom = "0.15"
reqwest = { version = "0.11", features = ["blocking"] }

[dev-dependencies]
anyhow = "1"
bytes = "1"
colored = "2"
mockall = { version = "0.12", features = ["nightly"] }
